In [1]:
Data = {'name':'Karan','Age':34,'Salary':345678}

print(Data)

{'name': 'Karan', 'Age': 34, 'Salary': 345678}

# Dict Methods

In [2]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [5]:
all_methods = ['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [6]:
print(all_methods)

['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [7]:
print(len(all_methods))

11

In [8]:
Data

{'name': 'Karan', 'Age': 34, 'Salary': 345678}

In [9]:
Data.clear()

In [10]:
print(Data)

{}

In [11]:
empty_dict = {}

print(empty_dict)

{}

In [12]:
print(len(empty_dict))

0

In [13]:
my_data = {'name': 'Karan', 'Age': 34, 'Salary': 345678}

In [14]:
print(my_data)

{'name': 'Karan', 'Age': 34, 'Salary': 345678}

In [15]:
# deep copy
# shallow copy

In [16]:
# deep copy

my_data

{'name': 'Karan', 'Age': 34, 'Salary': 345678}

In [17]:
your_data = my_data

In [18]:
print(your_data)

{'name': 'Karan', 'Age': 34, 'Salary': 345678}

In [20]:
your_data['Age'] = 87

In [21]:
print(your_data)

{'name': 'Karan', 'Age': 87, 'Salary': 345678}

In [22]:
print(my_data)

{'name': 'Karan', 'Age': 87, 'Salary': 345678}

In [23]:
# shallow copy

dost1 = {'name': 'Karan', 'Age': 87, 'Salary': 345678}

dost2 = dost1.copy()

In [24]:
print(dost1)

{'name': 'Karan', 'Age': 87, 'Salary': 345678}

In [25]:
print(dost2)

{'name': 'Karan', 'Age': 87, 'Salary': 345678}

In [27]:
dost1['Salary'] = 90

In [28]:
print(dost1)

{'name': 'Karan', 'Age': 87, 'Salary': 90}

In [29]:
print(dost2)

{'name': 'Karan', 'Age': 87, 'Salary': 345678}

In [31]:
data = ['age','color','gender','heigth','salary','address']


my_dict = {}

new_dict = my_dict.fromkeys(data)

print(new_dict)

{'age': None, 'color': None, 'gender': None, 'heigth': None, 'salary': None, 'address': None}

In [32]:
print(all_methods)

['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [33]:
dost1

{'name': 'Karan', 'Age': 87, 'Salary': 90}

In [36]:
dost1['Salary'] = 98765

In [37]:
dost1

{'name': 'Karan', 'Age': 87, 'Salary': 98765}

In [38]:
dost1.get('Salary')

98765

In [39]:
dost1.get('Salary') = 987678765456765432

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (1691741901.py, line 1)

In [40]:
dost2

{'name': 'Karan', 'Age': 87, 'Salary': 345678}

In [43]:
dost2['Address'] = 'Noida'

In [44]:
dost2.items()

dict_items([('name', 'Karan'), ('Age', 87), ('Salary', 345678), ('Address', 'Noida')])

In [45]:
dost2

{'name': 'Karan', 'Age': 87, 'Salary': 345678, 'Address': 'Noida'}

In [46]:
dost2.keys()

dict_keys(['name', 'Age', 'Salary', 'Address'])

In [48]:
list(dost2)

['name', 'Age', 'Salary', 'Address']

In [49]:
dost2

{'name': 'Karan', 'Age': 87, 'Salary': 345678, 'Address': 'Noida'}

In [51]:
dost2.values()

dict_values(['Karan', 87, 345678, 'Noida'])

In [52]:
# 'pop', 'popitem', 'setdefault', 'update',

In [53]:
dost2

{'name': 'Karan', 'Age': 87, 'Salary': 345678, 'Address': 'Noida'}

In [55]:
dost2.pop('Salary')

345678

In [56]:
print(dost2)

{'name': 'Karan', 'Age': 87, 'Address': 'Noida'}

In [58]:
dost2.pop('Address')

'Noida'

In [59]:
print(dost2)

{'name': 'Karan', 'Age': 87}

In [60]:
dost1

{'name': 'Karan', 'Age': 87, 'Salary': 98765}

In [62]:
# 'popitem'


dost1.popitem()

('Age', 87)

In [63]:
print(dost1)

{'name': 'Karan'}

In [64]:
dost1.popitem()

('name', 'Karan')

In [65]:
print(dost1)

{}

In [66]:
#  'setdefault', 'update',

In [72]:
my_dict = {'Emp_id':12,'Emp_Name':'Mohan','Emp_Designation':'Data Scientist','Emp_salary':8765432}

print(my_dict)

{'Emp_id': 12, 'Emp_Name': 'Mohan', 'Emp_Designation': 'Data Scientist', 'Emp_salary': 8765432}

In [73]:
# 'setdefault'

my_dict.setdefault('Emp_exp',5)

5

In [74]:
print(my_dict)

{'Emp_id': 12, 'Emp_Name': 'Mohan', 'Emp_Designation': 'Data Scientist', 'Emp_salary': 8765432, 'Emp_exp': 5}

In [75]:
my_dict['Emp_exp'] = 8

In [76]:
print(my_dict)

{'Emp_id': 12, 'Emp_Name': 'Mohan', 'Emp_Designation': 'Data Scientist', 'Emp_salary': 8765432, 'Emp_exp': 8}

In [77]:
my_dict['Emp_Name'] = 'Mohan Kumar'

In [78]:
print(my_dict)

{'Emp_id': 12, 'Emp_Name': 'Mohan Kumar', 'Emp_Designation': 'Data Scientist', 'Emp_salary': 8765432, 'Emp_exp': 8}

In [80]:
my_dict.setdefault('new_Emp_id',200)

200

In [81]:
print(my_dict)

{'Emp_id': 12, 'Emp_Name': 'Mohan Kumar', 'Emp_Designation': 'Data Scientist', 'Emp_salary': 8765432, 'Emp_exp': 8, 'new_Emp_id': 200}

In [82]:
my_dict.setdefault('Emp_id',500)

12

In [83]:
# update method

In [86]:
my_dict

{'Emp_id': 12,
 'Emp_Name': 'Mohan Kumar',
 'Emp_Designation': 'Data Scientist',
 'Emp_salary': 8765432,
 'Emp_exp': 8,
 'new_Emp_id': 200}

In [89]:
my_dict

{'Emp_id': 12,
 'Emp_Name': 'Mohan Kumar',
 'Emp_Designation': 'Data Scientist',
 'Emp_salary': 8765432,
 'Emp_exp': 8,
 'new_Emp_id': 200}

In [90]:
my_dict.update({'Emp_exp':12})

In [92]:
my_dict['Emp_salary'] = 987654

In [93]:
my_dict

{'Emp_id': 12,
 'Emp_Name': 'Mohan Kumar',
 'Emp_Designation': 'Data Scientist',
 'Emp_salary': 987654,
 'Emp_exp': 12,
 'new_Emp_id': 200}

In [95]:
my_dict.update({'Emp_id':20,'Emp_salary':987656787,'Emp_exp':20})

In [96]:
my_dict

{'Emp_id': 20,
 'Emp_Name': 'Mohan Kumar',
 'Emp_Designation': 'Data Scientist',
 'Emp_salary': 987656787,
 'Emp_exp': 20,
 'new_Emp_id': 200}

In [97]:
# unpacking dict

In [98]:
a = {'Name':'Ajay'}
b = {'Age':23}
c = {'Address':'Noida'}
d = {'Roll_No':12}

In [101]:
student_details = {}

student_details.update(a)
student_details.update(b)
student_details.update(c)
student_details.update(d)

In [102]:
student_details

{'Name': 'Ajay', 'Age': 23, 'Address': 'Noida', 'Roll_No': 12}

In [ ]:
# unpacking dict

In [104]:
a = {'Name':'Ajay'}
b = {'Age':23}
c = {'Address':'Noida'}
d = {'Roll_No':12}


full_details = {**a,**d,**c,**b}

print(full_details)

{'Name': 'Ajay', 'Roll_No': 12, 'Address': 'Noida', 'Age': 23}

In [106]:
a = {'Name':'Ajay'}
b = {'Age':23}
c = {'Address':'Noida'}
d = {'Roll_No':12}


full_details = {*a,*d,*c,*b}

print(full_details)

{'Roll_No', 'Address', 'Age', 'Name'}

In [108]:
a = {'Name':'Ajay'}
b = {'Age':23}
c = {'Address':'Noida'}
d = {'Roll_No':12}


full_details = [*a,*d,*c,*b]

print(full_details)

['Name', 'Roll_No', 'Address', 'Age']

In [109]:
# list()
# .keys()
# [*a,*b..]

In [110]:
# tuple

In [111]:
a = (1,23,45,321,3,456)

print(a)

(1, 23, 45, 321, 3, 456)

In [112]:
# nested tuple

a = (12,33,5,(12,33,5))

print(a)

(12, 33, 5, (12, 33, 5))

In [113]:
b = (12,43,5,657)

b

(12, 43, 5, 657)

In [115]:
#indexing
b[2]

5

In [116]:
# slicing 
f = (1, 23, 45, 321, 3, 456)

f[1:5]

(23, 45, 321, 3)

In [117]:
# tuple is immutable

In [119]:
f = (1, 23, 45, 321, 3, 456)

f[3] = 876543

TypeError: 'tuple' object does not support item assignment

In [120]:
# tuple' object does not support item assignment

In [121]:
a = (23,12,4335)
b = (1,243,35,465,324)
c = (1,24,35,6)


d = a+b+c

print(d)

(23, 12, 4335, 1, 243, 35, 465, 324, 1, 24, 35, 6)

In [122]:
a = (23,12,4335)

print(a * 3)

(23, 12, 4335, 23, 12, 4335, 23, 12, 4335)

In [123]:
# methods

In [124]:
a = (1,1,2,3,34,3,2,2,12,1,12,2,33)

a.count(2)

4

In [125]:
a.index(34)

4

In [126]:
a.index(33)

12

In [127]:
print('Done')

Done