# Dict Data type

In [1]:
data = {'name':'Ajay','Age':23}
print(data)

{'name': 'Ajay', 'Age': 23}

In [2]:
# language:- python:- c, c++, Java,
# json data type

# tabular data type

In [3]:
# data = {'Key':'value'}

# mapping data type:-
# hash map:- daTA TYPE

In [4]:
int, float, complex, str, list, tuple, set, dict,bool, None, 
# data = {'key':'value'}

(int, float, complex, str, list, tuple, set, dict, bool, None)

In [5]:
# key: int,float, complex,str,tuple,None,bool
# value:- all data type

data = {'name':'mohan','Age':23,2:'noida',True:'Python'}
print(data)

{'name': 'mohan', 'Age': 23, 2: 'noida', True: 'Python'}

In [6]:
# list, set, dict, :- not allowed:- key position

var = {[1,23,34]:'Mohan'}

print(var)

TypeError: unhashable type: 'list'

In [7]:
var = {{1,23,34}:'Mohan'}

print(var)

TypeError: unhashable type: 'set'

In [8]:
# dictionary data type:-
data = {{1:2}:'Noida'}
print(data)

TypeError: unhashable type: 'dict'

In [9]:
# dict data type:- tabular data

In [10]:
data = {'Name':['Sarwan Singh','Ankush Sharma','Yash Chauhan','Subigya Mishra'],
       'Salary':[2354,3456,4356,4657],
       'Address':['Noida','Greater Noida','Delhi','Faridabad'],
       'Course':['DS','DA','FullStack','AI/ML']}

print(data)

{'Name': ['Sarwan Singh', 'Ankush Sharma', 'Yash Chauhan', 'Subigya Mishra'], 'Salary': [2354, 3456, 4356, 4657], 'Address': ['Noida', 'Greater Noida', 'Delhi', 'Faridabad'], 'Course': ['DS', 'DA', 'FullStack', 'AI/ML']}

In [13]:
import pandas as pd

student_table = pd.DataFrame(data)
print('Done')

Done

In [15]:
student_table.to_csv('students_details.csv')
print('done')

done

In [76]:
student_table

             Name  Salary        Address     Course
0    Sarwan Singh    2354          Noida         DS
1   Ankush Sharma    3456  Greater Noida         DA
2    Yash Chauhan    4356          Delhi  FullStack
3  Subigya Mishra    4657      Faridabad      AI/ML

In [17]:
list(data)

['Name', 'Salary', 'Address', 'Course']

In [19]:
# features:- not stored with indexing

data = {"name":'Ajay','Age':23,'Phone':9876432567}
print(data)

{'name': 'Ajay', 'Age': 23, 'Phone': 9876432567}

In [21]:
# based on key it stores value/values

In [22]:
# we can change value of dictionary with the help of its key

In [23]:
data

{'name': 'Ajay', 'Age': 23, 'Phone': 9876432567}

In [24]:
data['Age']

23

In [25]:
data['Age'] = 67

In [26]:
data

{'name': 'Ajay', 'Age': 67, 'Phone': 9876432567}

In [28]:
data['name'] = 'Ajay Verma'

In [29]:
data

{'name': 'Ajay Verma', 'Age': 67, 'Phone': 9876432567}

In [32]:
data['Name'] = 'Fazil'

In [33]:
data

{'name': 'Ajay Verma', 'Age': 67, 'Phone': 9876432567, 'Name': 'Fazil'}

In [34]:
# new key value assign/ new create

In [35]:
data['Salary'] = 98767

In [36]:
data

{'name': 'Ajay Verma',
 'Age': 67,
 'Phone': 9876432567,
 'Name': 'Fazil',
 'Salary': 98767}

In [37]:
# nested dict:- dict inside dict

In [38]:
data = {'Noida':{'Bank1':[200],'Bank2':[100]}}
print(data)

{'Noida': {'Bank1': [200], 'Bank2': [100]}}

In [42]:
data['Noida']['Bank2'][0] = 1

In [43]:
data

{'Noida': {'Bank1': [200], 'Bank2': [1]}}

In [48]:
data['Noida']['Bank1'][0] = 2000

In [49]:
data

{'Noida': {'Bank1': [2000], 'Bank2': [1]}}

In [54]:
question = {'India':{'Delhi':{'New Delhi':{'B1':[{'L1':200,'L2':400}],'B2':[]}},'UP':[],'Bihar':[]}}
question

{'India': {'Delhi': {'New Delhi': {'B1': [{'L1': 200, 'L2': 400}], 'B2': []}},
  'UP': [],
  'Bihar': []}}

In [61]:
question['India']['Delhi']['New Delhi']['B1'][0]['L1'] = 400

In [62]:
question

{'India': {'Delhi': {'New Delhi': {'B1': [{'L1': 400, 'L2': 400}], 'B2': []}},
  'UP': [],
  'Bihar': []}}

In [63]:
question['India']['Delhi']['New Delhi']['B1'][0]['L2'] = 200

In [64]:
question

{'India': {'Delhi': {'New Delhi': {'B1': [{'L1': 400, 'L2': 200}], 'B2': []}},
  'UP': [],
  'Bihar': []}}

In [65]:
# dict value ko change kar sakte hain

In [67]:
# some basic operations with dict

In [68]:
a = {'Name':'Ajay'}
b = {'Class':12}
c = {'Age':23}

In [69]:
a + b + c

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [70]:
a - b - c

TypeError: unsupported operand type(s) for -: 'dict' and 'dict'

In [72]:
a = [1,2,34]

a*3

[1, 2, 34, 1, 2, 34, 1, 2, 34]

In [73]:
a = {'Name':'Ajay'}

a * 2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [74]:
data = {'Name':'Ajay','Name':"Ajay kumar"}
data

{'Name': 'Ajay kumar'}

In [75]:
# dict can not contain duplicate keys

In [77]:
# operators with dict

In [81]:
a = {'Age':23, 'class':5}

b = {'Age':23,'class':5}

a == b

True

In [83]:
data['Age'] = 23
data['Class'] = 5
data['Address'] = 'Noida'

data

{'Name': 'Ajay kumar', 'Age': 23, 'Class': 5, 'Address': 'Noida'}

In [84]:
data

{'Name': 'Ajay kumar', 'Age': 23, 'Class': 5, 'Address': 'Noida'}

In [86]:
# in

'Name' in data

True

In [88]:
'class' in data

False

In [89]:
# employee table