In [6]:
# Loop:- repeat loop concept


data = [1,23,2454,5,235]

print(data[0]**2)
print(data[1]**2)
print(data[2]**2)
print(data[3]**2)

1
529
6022116
25

In [7]:
# for loop
# while loop

# for each loop
# do while

In [8]:
# for loop:- when we know the number of iterations ex :- 10, 20, 50, etc

# while loop:- we we want to run loop conditionally

In [9]:
# for loops

In [13]:
bag = ['charger','books','lunch','water bottle']

import time
for hand in bag:
    print(hand)
    time.sleep(1)

charger
books
lunch
water bottle

In [14]:
bag = ['charger','books','lunch','water bottle']

import time
for i in bag:
    print(i)
    time.sleep(1)

charger
books
lunch
water bottle

In [15]:
# datatype_ek_se_jayada:- list,tuple,set,dict,str,frozenset
# not allowed:- int,float,complex,bool,None

# for i in datatype_ek_se_jayada:
#     print(i)

In [16]:
data = [12,32,4,3214,5,'Karan',None,True]

for i in data:
    print(i)

12
32
4
3214
5
Karan
None
True

In [17]:
data = (12,32,4,3214,5,'Karan',None,True)

for i in data:
    print(i)

12
32
4
3214
5
Karan
None
True

In [18]:
data = {12,32,4,3214,5,'Karan',None,True}

for i in data:
    print(i)

32
True
4
5
12
3214
None
Karan

In [19]:
data = frozenset((12,32,4,3214,5,'Karan',None,True))

for i in data:
    print(i)

32
True
4
5
12
3214
None
Karan

In [22]:
data = 'sarwan singh'

for i in data:
    print(i)
    time.sleep(0.2)

s
a
r
w
a
n

s
i
n
g
h

In [24]:
# dict ke sath for loop

# key ko pick karega
data = {'Name':'komal','age':23,'class':12,'address':'Noida','phone':9876543}

for i in data:
    print(i)

Name
age
class
address
phone

In [29]:
# dict ke sath for loop

# key ko pick karega
data = {'Name':'komal','age':23,'class':12,'address':'Noida','phone':9876543}

for i in data:
    print(data[i])

komal
23
12
Noida
9876543

In [31]:
# dict ke sath for loop

# key ko pick karega
data = {'Name':'komal','age':23,'class':12,'address':'Noida','phone':9876543}

for i in data:
    print(i,':',data[i])

Name : komal
age : 23
class : 12
address : Noida
phone : 9876543

In [32]:
# not allowed:- int,float,complex,bool,None


for i in None:
    print(i)

TypeError: 'NoneType' object is not iterable

In [33]:
for i in True:
    print(i)

TypeError: 'bool' object is not iterable

In [34]:
for i in 23456:
    print(i)

TypeError: 'int' object is not iterable

In [35]:
for i in 345.45:
    print(i)

TypeError: 'float' object is not iterable

In [36]:
for i in 345-98j:
    print(i)

TypeError: 'complex' object is not iterable

In [39]:
students = ['sarwan','komal','ajay','ravi','karan','abhay','jatin']


for i in students:
    print('Hello',i,'How are you?')

Hello sarwan How are you?
Hello komal How are you?
Hello ajay How are you?
Hello ravi How are you?
Hello karan How are you?
Hello abhay How are you?
Hello jatin How are you?

In [41]:
students = ['sarwan','komal','ajay','ravi','karan','abhay','jatin']


for i in students:
    print(f'Hello {i}, How are you?')

Hello sarwan, How are you?
Hello komal, How are you?
Hello ajay, How are you?
Hello ravi, How are you?
Hello karan, How are you?
Hello abhay, How are you?
Hello jatin, How are you?

In [42]:
students = ['sarwan','komal','ajay','ravi','karan','abhay','jatin']


for i in students:
    print(f'Hello {i}, How are you?'.upper())

HELLO SARWAN, HOW ARE YOU?
HELLO KOMAL, HOW ARE YOU?
HELLO AJAY, HOW ARE YOU?
HELLO RAVI, HOW ARE YOU?
HELLO KARAN, HOW ARE YOU?
HELLO ABHAY, HOW ARE YOU?
HELLO JATIN, HOW ARE YOU?

In [46]:
data = [12,334,4,2314,3543,24,556,57,6,7543,56,235,46]

even = []
odd = []

for i in data:
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)
        
        
print(even)

[12, 334, 4, 2314, 24, 556, 6, 56, 46]

In [47]:
print(odd)

[3543, 57, 7543, 235]

In [48]:
# 2 x 1 = 2
# 2 x 2 = 4

print('2 x 1 = 2')
print('2 x 2 = 4')
print('2 x 3 = 6')
print('2 x 4 = 8')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8

In [52]:
data = [1,2,3,4,5,6,7,8,9,10]
number = 19

for i in data:
    print(f'{number} x {i} = {number*i}')

19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
data = list(range(1,11))
number = 19

for i in data:
    print(f'{number} x {i} = {number*i}')

19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190

In [56]:
number = 21
for i in range(1,11):
    print(f'{number} x {i} = {number*i}')

21 x 1 = 21
21 x 2 = 42
21 x 3 = 63
21 x 4 = 84
21 x 5 = 105
21 x 6 = 126
21 x 7 = 147
21 x 8 = 168
21 x 9 = 189
21 x 10 = 210

# Summary
    1>> Domain Study:- DS, DA, BA, Python, Data, AI, ML
    2>> Python:- DA:-Python, Pandas, Numpy, Matplotlib, Seaborn, Mysql, Powerbi, Stats, Probability
    3>> Python Intro:- Anaconda, Jupyter Notebook, use?
    4>> Python:- Data types, Variables, List, tuple, set, str, dict, None, bool, int,float, complex
    5>> Opeartors:- Arithmatic, assignment, membership, identity, logical, comparison, bitwise
    6>> Some imp func:- sum,round, max,min,input, print, id, len, abs,exec, execfile,
    7>> string data type:- basic op, single, double, triple, str_methods:- find, join, index, strip, split etc
    8>> List data type:- empty, basic op, indexing, slicing, mutable, value change, list_methods
    9>> tuple data type:- basic, method:- count, index
    10>> Dict data type:- basic, key value concept, data types, no indexing slicing, value change with key, dict methods
    11>> set data type:- basic, no duplicate, no nested set, no indexing slicing, set methods
    12>> if else:- basic, problems, login, budget, rock paper game, number guess game, nested if else, pass, one liner if else, elif
    13>> loop concept:- for loop, while, for loop:- iterate, limited data type, table, list even odd,allowed/not alllowed datatype

In [1]:
# for loop, with pass , break, continue

In [6]:
data = [1,243,65,321,453,632,53,646]


for i in data:
    print(f'{i} >> {i+100}')

1 >> 101
243 >> 343
65 >> 165
321 >> 421
453 >> 553
632 >> 732
53 >> 153
646 >> 746

In [7]:
data = [1,243,65,321,453,632,53,646]

# fstring:- to format string so that we can use variable with string
# Question:- do not add 100 when i becomes 453
# concept:- continue:- to skip that iteration
for i in data:
    
    if i == 453:
        continue   # skip this
    else:
        print(f'{i} >> {i+100}')

1 >> 101
243 >> 343
65 >> 165
321 >> 421
632 >> 732
53 >> 153
646 >> 746

In [10]:
# break concept:- 
# when you know you loop condition satisfied or not than you can break your loop
# break means:- loop will break and not run further



data = ['karan','ajay','ravi','mohan','jatin','akshay']

for i in data:
    if i == 'mohan':
        break
    else:
        print(f'welcome {i}')

welcome karan
welcome ajay
welcome ravi

In [18]:
data = {"akshay":True,'Mohan':True,'Karan':True,'ravi':False,'Jatin':True,'rani':True}
import time

# with continue

for i in data:
    if data[i] == False:
        print(f'Stop {i}, You are not allowed!!')
        continue   # no code will run after continue
        print('BHCjhgfxg')   # this will not run
        
    else:
        print(f'Welcome {i} >> Metro gate open!!')
        
    time.sleep(1)

Stop akshay, You are not allowed!!
Welcome akshay >> Metro gate open!!
Stop Mohan, You are not allowed!!
Welcome Mohan >> Metro gate open!!
Stop Karan, You are not allowed!!
Welcome Karan >> Metro gate open!!
Stop ravi, You are not allowed!!
Stop Jatin, You are not allowed!!
Welcome Jatin >> Metro gate open!!
Stop rani, You are not allowed!!
Welcome rani >> Metro gate open!!

In [19]:
data = {"akshay":True,'Mohan':True,'Karan':True,'ravi':False,'Jatin':True,'rani':True}
import time

# with break   # This will stop the further execution of loop

for i in data:
    if data[i] == False:
        print(f'Stop {i}, You are not allowed!!')
        break   # no code will run after break
        
    else:
        print(f'Welcome {i} >> Metro gate open!!')
        
    time.sleep(1)

Welcome akshay >> Metro gate open!!
Welcome Mohan >> Metro gate open!!
Welcome Karan >> Metro gate open!!
Stop ravi, You are not allowed!!

In [24]:
data = {'modi ji':None,"akshay":True,'Mohan':True,'Karan':True,'ravi':False,'Jatin':True,'rani':True}
import time

# with pass:- pass that iteration:- do noting eat 5 star

for i in data:
    if i == 'modi ji':
        pass 
        print('Hello modi ji')   # after pass code, another code also run
        
    else:
        print(f'Welcome {i} >> Metro gate open!!')
        
    time.sleep(1)

Hello modi ji
Welcome akshay >> Metro gate open!!
Welcome Mohan >> Metro gate open!!
Welcome Karan >> Metro gate open!!
Welcome ravi >> Metro gate open!!
Welcome Jatin >> Metro gate open!!
Welcome rani >> Metro gate open!!

In [25]:
for i in range(100):
    pass

In [26]:
for i in range(100):
    break

In [27]:
for i in range(100):
    continue

# New day

In [1]:
# nested for loop

In [4]:
for i in range(1,3):  # outer loop:- main loop
    for j in 'ABCDEF':  # inner loop:- sub loop
        print(i,j)

1 A
1 B
1 C
1 D
1 E
1 F
2 A
2 B
2 C
2 D
2 E
2 F

In [5]:
for i in range(1,3):  # outer loop:- main loop
    for j in range(1,3):  # inner loop:- sub loop
        print(i,j)

1 1
1 2
2 1
2 2

In [7]:
data = [1,23,4521,34,345,645732,45]

data2 = [23,123,4,34,4456,42,45456]


for i in data:
    for j in data2:
        print(i,j)

1 23
1 123
1 4
1 34
1 4456
1 42
1 45456
23 23
23 123
23 4
23 34
23 4456
23 42
23 45456
4521 23
4521 123
4521 4
4521 34
4521 4456
4521 42
4521 45456
34 23
34 123
34 4
34 34
34 4456
34 42
34 45456
345 23
345 123
345 4
345 34
345 4456
345 42
345 45456
645732 23
645732 123
645732 4
645732 34
645732 4456
645732 42
645732 45456
45 23
45 123
45 4
45 34
45 4456
45 42
45 45456

In [10]:
data = [1,23,4521,34,345,645732,45]

data2 = [23,123,4,34,4456,42,45456]

common = []

for i in data:
    for j in data2:
        if i == j:
            common.append(i)
            
print(common)

[23, 34]

In [14]:
data = [1,23,4521,34,345,6,45732,45]

data2 = [23,123,4,34,4,45,6,42,45456]

datac = [12,345,65,32,13,45,6,34,5435]

common = []


for i in data:
    for j in data2:
        for k in datac:
            if i == j == k:
                common.append(i)
                
print(common)

[34, 6, 45]

In [15]:
data = {'Name':['Aman','karan','akshay'],
       'Address':['Noida','Delhi','kanpur'],
       'Salary':[78765,98789,67890],
       'Emp_id':[1,2,3]}


print(data)

{'Name': ['Aman', 'karan', 'akshay'], 'Address': ['Noida', 'Delhi', 'kanpur'], 'Salary': [78765, 98789, 67890], 'Emp_id': [1, 2, 3]}

In [17]:
import pandas as pd

In [18]:
pd.DataFrame(data)

     Name Address  Salary  Emp_id
0    Aman   Noida   78765       1
1   karan   Delhi   98789       2
2  akshay  kanpur   67890       3

In [32]:
all_data = {'Emp_id':[],
            'Name':[],
           'Salary':[],
           'Address':[],
           'Dept':[],
           'Phone number':[]}


kitne_aadmi_the = int(input('Enter no of employee you want\'s to add: '))


for i in range(kitne_aadmi_the):
    for j in all_data:
        all_data[j].append(input(f'Enter your {j}: '))
        
    print(f'{i+1} Record Added successfully!!\n\n\n')
    
    
    
table = pd.DataFrame(all_data)
table

Enter no of employee you want's to add: 4
Enter your Emp_id: 1
Enter your Name: Jatin
Enter your Salary: 87876
Enter your Address: Noida
Enter your Dept: It
Enter your Phone number: 9898787654
1 Record Added successfully!!



Enter your Emp_id: 2
Enter your Name: Komal Verma
Enter your Salary: 87876
Enter your Address: Delhi
Enter your Dept: IT
Enter your Phone number: 9898787684
2 Record Added successfully!!



Enter your Emp_id: 3
Enter your Name: Akshay Khanna
Enter your Salary: 87876
Enter your Address: Greater Noida
Enter your Dept: HR
Enter your Phone number: 9898789854
3 Record Added successfully!!



Enter your Emp_id: 4
Enter your Name: Ravi Malhotra
Enter your Salary: 87876
Enter your Address: Noida
Enter your Dept: Sales
Enter your Phone number: 9898787654
4 Record Added successfully!!

  Emp_id           Name Salary        Address   Dept Phone number
0      1          Jatin  87876          Noida     It   9898787654
1      2    Komal Verma  87876          Delhi     IT   9898787684
2      3  Akshay Khanna  87876  Greater Noida     HR   9898789854
3      4  Ravi Malhotra  87876          Noida  Sales   9898787654

In [34]:
table.to_csv('Employee_table.csv')
print('done')

done

In [41]:
# nested if else:- infinite

import random


kitni_bar = int(input('Enter kitni bar game khelna hai??: '))


rewards = 0

for i in range(kitni_bar):

    comp_choice = random.choice(['rock','paper','scissors'])
    user_choice = input('Enter your choice: ').lower()


    print('comp choice: ',comp_choice)
    print('User choice: ',user_choice)


    if user_choice == comp_choice:
        print("It's a tie")

    elif user_choice == 'rock':
        if comp_choice == 'paper':
            print('comp wins, user lose!!')
            rewards-= 500

        else:
            print('User wins, comp lose!!')
            rewards+= 1000

    elif user_choice == 'paper':
        if comp_choice == 'scissors':
            print('comp wins, user lose!!')
            rewards-= 500
        else:
            print('User wins, comp lose!!')
            rewards+= 1000

    elif user_choice == 'scissors':
        if comp_choice == 'rock':
            print('comp wins, user lose!!')
            rewards-= 500

        else:
            print('User wins, comp lose!!')
            rewards+= 1000


    else:
        print('Invalid choice!!')
        
    print('\n\n')
    

if rewards>0:
    print('Total Rewards Points: ',rewards)
else:
    print('Total Rewards Points: ',0)

Enter kitni bar game khelna hai??: 4
Enter your choice: paper
comp choice:  rock
User choice:  paper
User wins, comp lose!!



Enter your choice: rock
comp choice:  rock
User choice:  rock
It's a tie



Enter your choice: paper
comp choice:  rock
User choice:  paper
User wins, comp lose!!



Enter your choice: rock
comp choice:  paper
User choice:  rock
comp wins, user lose!!



Total Rewards Points:  1500